<h1 ng-show="!isLoaded">Loading...</h1>

<div ng-show="isLoaded">
    <button type="button" ng-click="moreCtrl.addSpeaker()">
        Add speaker
    </button>
    <button type="button" ng-click="moreCtrl.setInstructor()">
        Set instructor
    </button>
    <button type="button" ng-click="moreCtrl.registerDevice()">
        Register device
    </button>
    <button type="button" ng-click="moreCtrl.logout()">
        Logout
    </button>
    <button type="button" ng-click="moreCtrl.getTokens()">
        Get tokens (dev)
    </button>
    <button type="button" ng-click="moreCtrl.clearLocalDb()">
        Clear local db (dev)
    </button>
    <button type="button" ng-click="moreCtrl.test()">
        Test (dev)
    </button>
</div>