<h1 ng-show="!isLoaded">Loading...</h1>

<div ng-show="isLoaded">
    <div class="content">
        <h3 class="main-heading">Login</h3>
        <form class="dataEntry" ng-submit="loginCtrl.submit()">
            <label for="email">Email</label>
            <input id="email" type="email" ng-model="email" placeholder="josh9@dataacquisition.da">
            <label for="password">Password</label>
            <input id="password" type="password" ng-model="password" placeholder="****************">
            <input type="submit" value="Ok"></input>
            <div>{{msg}}</div>
        </form>
    </div>
</div>