<div class="content vertical-center">
    <div class="default-view">
        <ul class="more-list">
            <li><button class="btn btn-primary btn-list" type="button" ng-click="moreCtrl.addSpeaker()">
                Add speaker
            </button></li>
            <li><button class="btn btn-primary btn-list" type="button" ng-click="moreCtrl.setInstructor()">
                Set instructor
            </button></li>
            <li><button class="btn btn-primary btn-list" type="button" ng-click="moreCtrl.registerDevice()">
                Register device
            </button></li>
            <li><button class="btn btn-primary btn-list" type="button" ng-click="moreCtrl.sync()">
                Sync
            </button></li>
            <li><button class="btn btn-primary btn-list" type="button" ng-click="moreCtrl.logout()">
                Logout
            </button></li>
        </ul>

        <ul class="more-list">
            <li><button class="btn btn-primary btn-list" type="button" ng-click="moreCtrl.getTokens()">
                Get tokens (dev)
            </button></li>
            <li><button class="btn btn-primary btn-list" type="button" ng-click="moreCtrl.clearLocalDb()">
                Clear local db (dev)
            </button></li>
            <li><button class="btn btn-primary btn-list" type="button" ng-click="moreCtrl.test()">
                Test (dev)
            </button></li>
        </ul>
        <p class="message">{{msg}}</p>
    </div>
</div>
