<div class="content vertical-center">
    <div class="recording-view">
        <p class="token">{{recCtrl.displayToken}}</p>
        <div id="playback">
            <audio ng-src="{{recCtrl.curRec[0].url | trustUrl}}" controls></audio>
        </div>
        <button class="btn btn-glyph-only btn-record" type="button" ng-disabled="recCtrl.recordBtnDisabled" ng-click="recCtrl.record()">
            <span class="glyphicon glyphicon-record"></span>
        </button>
        <button class="btn btn-glyph-only btn-stop" type="button" ng-disabled="recCtrl.stopBtnDisabled" ng-click="recCtrl.stop()">
            <span class="glyphicon glyphicon-stop"></span>
        </button>
        <p class="message">{{msg}}</p>
    </div>
</div>
