<div class="content vertical-center">
    <div class="recording-view">
        <p class="token">{{recCtrl.displayToken}}</p>
        <div id="playback">
            <audio ng-src="{{recCtrl.curRec[0].url | trustUrl}}" controls></audio>
        </div>
        <!-- action = rec or stop -->
        <button class="btn btn-glyph-only btn-record-ctrl" type="button" ng-disabled="recCtrl.actionBtnDisabled" ng-click="recCtrl.action()">
            <span class="glyphicon {{actionGlyph}}"></span><p>{{actionText}}</p>
        </button>
        <button class="btn btn-glyph-only btn-record-ctrl" type="button" ng-disabled="recCtrl.skipBtnDisabled" ng-click="recCtrl.skip()">
            <span class="glyphicon glyphicon-ban-circle"></span><p>Skip</p>
        </button>
        <p class="message">{{msg}}</p>
    </div>
</div>
