<div class="content vertical-center">
    <div class="data-entry">
        <form ng-submit="regdCtrl.submit()">
            <div class="form-group">
                <label for="imei">IMEI/Device ID</label>
                <input class="form-control" id="imei" type="text" ng-model="regdCtrl.imei" placeholder="000000000000000" 
                pattern="[\dA-Za-z\/-_ ]+" required>
            </div>
            <button class="form-control btn btn-primary" type="submit" value="">
                <span class="glyphicon glyphicon-ok"></span>
            </button>
        </form>
        <p class="message">{{msg}}</p>
    </div>
</div>
