<!--
Copyright 2016 Matthias Petursson
Apache 2.0
-->

<div class="content vertical-center">
    <div class="data-entry">
        <h3 class="default-heading">New instructor</h3>
        <form ng-submit="setiCtrl.submit()">
            <div class="form-group">
                <label for="name">Full name *</label>
                <input class="form-control" id="name" type="text" ng-model="setiCtrl.name" placeholder="Jane Doe" required>
            </div>
            <div class="form-group">
                <label for="email">Email *</label>
                <input class="form-control" id="email" type="email" ng-model="setiCtrl.email" placeholder="email@example.com" required>
            </div>
            <div class="form-group">
                <label for="phone">Phone</label>
                <input class="form-control" id="phone" type="tel" ng-model="setiCtrl.phone" placeholder="7777777" 
                pattern="[\d-\(\)\+ ]+">
            </div>
            <div class="form-group">
                <label for="address">Address</label>
                <input class="form-control" id="address" type="text" ng-model="setiCtrl.address" placeholder="21 Example Lane">
            </div>
            <button class="form-control btn btn-primary" type="submit" value="">
                <span class="glyphicon glyphicon-ok"></span>
            </button>
        </form>
        <h3 class="default-heading">Existing instructor</h3>
        <form ng-submit="setiCtrl.submit()">
            <div class="form-group">
                <label for="instructorId">ID</label>
                <input class="form-control" id="instructorId" type="number" ng-model="setiCtrl.instructorId" placeholder="1" required>
            </div>
            <button class="form-control btn btn-primary" type="submit" value="">
                <span class="glyphicon glyphicon-ok"></span>
            </button>
        </form>
        <p class="message">{{msg}}</p>
        <p class="message" ng-repeat="error in setiCtrl.msgs">{{error}}</p>
    </div>
</div>
