<h1 ng-show="!isLoaded">Loading...</h1>

<div ng-show="isLoaded">
    <form class="dataEntry" ng-submit="setiCtrl.submit()">
        <label for="name">Full name</label>
        <input id="name" type="text" ng-model="setiCtrl.name" placeholder="Jane Doe" required>
        <label for="email">Email</label>
        <input id="email" type="email" ng-model="setiCtrl.email" placeholder="email@example.com" required>
        <label for="phone">Phone</label>
        <input id="phone" type="tel" ng-model="setiCtrl.phone" placeholder="7777777" 
            pattern="[\d-\(\)\+ ]+" required>
        <label for="address">Address</label>
        <input id="address" type="text" ng-model="setiCtrl.address" placeholder="21 Example Lane" required>
        <input type="submit" value="Ok"></input>
        <div>{{msg}}</div>
        <div ng-repeat="error in setiCtrl.msgs">{{error}}</div>
    </form>
</div>