<div class="content vertical-center">
    <div class="data-entry">
        <h3 class="default-heading">Enter your info</h3>
        <form ng-submit="startCtrl.submit()">
            <div class="form-group">
                <label for="speakerName">Username *</label>
                <input class="form-control" id="speakerName" type="text" ng-model="startCtrl.speakerName" placeholder="josh9">
            </div>
            <div class="form-group">
                <label for="comments">Comments</label>
                <input class="form-control" id="comments" type="text" ng-model="startCtrl.comments" placeholder="Cars driving close by.">
            </div>
            <div class="checkbox">
                <label for="doneBefore">
                    <input id="doneBefore" type="checkbox" ng-model="startCtrl.doneBefore">
                    Done this before?
                </label>
            </div>
            <button class="form-control btn btn-primary" type="submit" value="">
                <span class="glyphicon glyphicon-ok"></span>
            </button>
        </form>
        <div class="message">{{msg}}</div>
    </div>
</div>
