<div class="content vertical-center">
    <div class="default-view">
        <ul class="more-list">

            <li><button id="sync_button" class="btn btn-primary btn-list" type="button" ng-click="moreCtrl.sync()" ng-hide="hide_sync">
                Sync
            </button></li>

        </ul>

        <p class="message">{{msg}}</p>
        <p class="message" ng-hide="hide_wifi_msg">{{wifi_msg}} </p>

        <ul class="more-list" ng-hide="hide_recording">

            <li><a ng-href="#/recording" class="btn btn-primary btn-list" type="button" >
                back to recordings
            </a></li>

        </ul>

        <ul class="more-list" ng-hide="hide_start">

            <li><a ng-href="#/start" class="btn btn-primary btn-list" type="button" >
                Log in to record
            </a></li>

        </ul>
        <p class="message" ng-hide="hide_login_msg">{{login_msg}} </p>
    </div>
</div>
