<div class="content vertical-center">
    <div class="recording-view">
        <ul class="more-list">
            <li><button id="sync_button" class="btn btn-primary btn-list" type="button" ng-click="syncCtrl.sync()" ng-disabled="hide_sync">
                Sync
            </button></li>
            <li><a ng-href="#/recording" class="btn btn-primary btn-list" type="button" ng-hide="hide_recording">
                Back to recordings
            </a></li>
        </ul>
        <div class="feedbackDisplay">
            <p>Prompts read: {{tokensRead}}</p>
            <p>Prompts delivered: {{recsDelivered}}</p>
            <p>Prompts read &amp; not delivered: {{recsSaved}}</p>
        </div>
        <p class="message">{{msg}}</p>
        <p class="message" ng-hide="hide_wifi_msg">{{wifi_msg}} </p>
    </div>
</div>
