/* variables */

/* reusables */


/* main css */
html, body { height: 100%; overflow: auto; }
body { width: 100%; }

.view {
  height: 100%;
  width: 100%;
  background-color: lightblue;
  overflow: auto;
}

.content {
  margin: 0 auto;
  max-height: 100%;
  max-width: 100%;
}

/* data entry (form) layout */
.data-entry {
  min-width: 80%;
  max-width: 80%;
}

/* button stylings */
.btn-circle {
  border-radius: 50%;
  padding: 0.1em;
  width: 1.8em;
}

/* img stylings */
.main-img {
  margin: 0 auto;
  padding: 0.5%;
  flex-basis: 50%;  
}

/* navbar */
.main-nav {
  text-align: center;
  padding: 1%;
  flex-basis: 20%;
}

/* misc stylings */
#playback {
  margin: 1%;
  max-width: 100%;
}

/* give parent of centered element this class */
.vertical-center {
  height: 100%; /* fallback */
  height: 100vh;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
