/* variables */
$mainNavHeight: 15vh; /* doesn't work completely, but does something depending on screen size */

html, body { height: 100%; overflow: auto; }
body { width: 100%; }

.view {
  height: 100%;
  width: 100%;
  background-color: lightblue;
  overflow: auto;
}

.content {
  margin: 0 auto;
  max-height: 100%;
  max-width: 80%;
}

/* navbar */

.main-nav {
  max-height: $mainNavHeight;
  text-align: center;
  padding: 1%;
}

/* button stylings */

.btn-circle {
  border-radius: 50%;
  padding: 0.1em;
  width: 1.8em;
}

/* img stylings */

.vertical-center {
  height: 100vh - $mainNavHeight;

  display: flex;
  align-items: center;
}

.main-img {
  padding-top: 2%;
  flex-basis: 100%;
}

/* misc stylings */

#playback {
  margin: 1%;
  max-width: 100%;
}

.dataEntry > * {
  float: left;
  clear: both;
}